.card{
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid #adc4ee;
    padding: 16px;
    box-shadow: 10px 10px 15px #888888;
    width: 125px;
    height: 125px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.temp{
    font-size: 36px;
}

.desc{
    font-size: 14px;
    text-transform: capitalize;
    text-align: center;
}

.title {
    text-align: center;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}