.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex-start;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}


.weather {
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.city-name-input{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  width: 100px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.city-name-input:focus{
  outline: none;
}


hr{
  width: 600px;
  border: 1px solid rgb(0, 0, 0);
}

.cityError{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
  color: red;
}


.card-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 998px;
  margin-top: 52px;
}
